.awesomeText {
  font-size: 16px;
  color: black;
  font-size: 16px;
  font-weight: 500;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.7;
  text-align: left;
}
.chooseText {
  font-size: 16px;
  color: black;
  font-size: 16px;
  font-weight: 500;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.7;
  text-align: left;
}
.ceoText {
  font-size: 16px;
  color: black;
  font-size: 16px;
  font-weight: 500;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.7;
  text-align: left;
}
.visionText {
  font-size: 16px;
  color: black;
  font-size: 16px;
  font-weight: 500;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.7;
  text-align: left;
}

#imgCeo {
  margin-top: 100px;
}

#img {
  border: 0 !important;
  border-bottom: 0 !important;
}
